# exim configuration for simple local smtp only server

local_interfaces = 127.0.0.1

hostlist relay_from_hosts = 127.0.0.1

never_users =
domainlist local_domains = {{ domainname }}

acl_smtp_rcpt = acl_check_rcpt

######################################################################
#                        ACL CONFIGURATION                           #
######################################################################

begin acl

acl_check_rcpt:

  # Accept if the source is local SMTP (i.e. not over TCP/IP). We do this by
  # testing for an empty sending host field.
  accept hosts = :

  # deny syntactically invalid addresses
  deny local_parts = ^.*[@%!/|]

  # allow from relay-list
  accept hosts = +relay_from_hosts

  # deny all others
  deny message = relay not permitted



######################################################################
#                      ROUTERS CONFIGURATION                         #
######################################################################

begin routers

extern:
  driver = dnslookup
  transport = smtp
  domains = ! +local_domains
  # this makes exim always use ipv4 and ignore ipv6
  ignore_target_hosts = <; 0::0/0
  no_more


system_aliases:
  driver = redirect
  allow_fail
  allow_defer
  data = ${lookup{$local_part}lsearch{/etc/aliases}}
  file_transport = address_file
  pipe_transport = address_pipe



######################################################################
#                      TRANSPORTS CONFIGURATION                      #
######################################################################

begin transports

smtp:
  driver = smtp



######################################################################
#                      RETRY CONFIGURATION                           #
######################################################################

begin retry
* * F,1h,5m; F,4h,15m; F,2d,1h; G,3d,1h,1.25; F,5d,6h



######################################################################
#                      REWRITE CONFIGURATION                         #
######################################################################

begin rewrite



######################################################################
#                      AUTH CONFIGURATION                            #
######################################################################

begin authenticators

